/* BASE, EVERYTHING */

@import 'tailwindcss';

@theme {
  --font-grotesk: var(--font-grotesk);
  --font-ddin: var(--font-ddin);
  --primary: #3acda8;
  --color-background: #0e372e;
  --color-light-green: #3acda8;
  --color-dark-green: #0e372e;
  --color-foreground: #3bb6ff;
  --color-middle-green: #185d4e;
  --color-harsh-blue: #0000ff;
}

:root {
  --background: #0e372e;
  --foreground: #3bb6ff;
  --primary: #3acda8;
  --dark-green: #0e372e;
  --middle-green: #185d4e;
  --light-blue: #3bb6ff;
  --light-green: #3acda8;
  --shadow: 1px 1px 2px black;
  --shadow-big: 2px 2px 4px black;
  --stripes: repeating-linear-gradient(
    135deg,
    #3acda880,
    #3acda880 1px,
    transparent 1px,
    transparent 13px
  );
  --letter-space: 0.06rem;
  --hover: background-color 0.3s ease-in-out;
}

// .buttonBlue {
//   transition: background-color 140ms;
//   &:hover {
//     background-color: lighten(#3bb6ff, 20%) !important;
//   }
// }

.pageSpace {
  @apply w-full px-5 py-5 py-2 lg:px-30 lg:py-20;
}

.pageTitle {
  @apply font-grotesk text-6xl lg:text-9xl uppercase font-black mb-10;
}

.buttonBlue {
  transition: background-color 140ms;
  &:hover {
    background-color: color-mix(in srgb, #3bb6ff 80%, white 20%) !important;
  }
}

.buttonGreen {
  transition: background-color 140ms;
  background-color: #185d4e;
  &:hover {
    background-color: color-mix(in srgb, #185d4e 80%, white 20%) !important;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  @apply bg-background text-white font-ddin tracking-wider antialiased;
}

p {
  @apply text-lg/8 lg:text-xl/8 font-ddin mb-5;
}

.special {
  @apply text-xl lg:text-6xl font-ddin font-thin text-white text-shadow-md text-shadow-dark-green ml-5 lg:ml-10 tracking-wider;
}

.subGrid {
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
  display: grid;
  grid-template-areas: 'inside';
  margin-bottom: 70px;
}

.subGridSingleVirus {
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
  display: grid;
  grid-template-areas: 'inside';
  overflow: hidden;
  position: relative;
  /* padding-bottom: 70px; */
}

.inside {
  grid-area: inside;
  /* grid-column: 2 / 3; */
}

/* HEADER */

header {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 100;

  nav {
    display: flex;
    flex-direction: list;
    background-color: blue;
    gap: 40px;
    text-transform: uppercase;
    letter-spacing: 0.09rem;
    padding: 20px 30px 20px 30px;
    color: white;
    border-bottom: solid var(--primary);
    border-right: solid var(--primary);
    @apply h-16;
  }

  Image {
    float: right;
    display: flex;
    flex-flow: column;
  }
}

/* LANDING PAGE */

.featured {
  /* background-color: var(--light-blue); */
  /* text-align: center; */
  background-color: rgba(0, 0, 0, 0.2);
  background-image: repeating-linear-gradient(
    135deg,
    rgba(58, 205, 168, 0.2),
    rgba(58, 205, 168, 0.2) 1px,
    transparent 1px,
    transparent 13px
  );
}

.newArrivals {
  h3 {
    font-family: var(--font-grotesk-regular);
    font-weight: 300;
    color: white;
    font-size: 1.8rem;
  }

  h2 {
    font-size: 2.5vw;
    text-transform: uppercase;
    font-family: var(--font-chivo);
    letter-spacing: 0.2rem;
  }
}

.newViruses {
  margin-top: 20px;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}

/* NEWS BLOCK */

.news {
  h2 {
    color: var(--light-green);
    font-size: 2.5vw;
    text-transform: uppercase;
    font-family: var(--font-chivo);
    letter-spacing: 0.2rem;
    background-color: var(--dark-green);
  }

  .newsItems {
    @apply sm:grid md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-10;

    .item {
      @apply shadow-lg outline outline-white/20 rounded-2xl;
    }

    div {
      .itemContent {
        @apply bg-middle-green/50 px-6 py-4 rounded-b-2xl border-t-1 border-white/30;

        h3 {
          @apply font-ddin font-thin tracking-wider text-2xl;
        }

        h4 {
          margin-top: 10px;
          letter-spacing: 0.06rem;
          font-weight: 300;
        }
      }

      .itemImage {
        background-repeat: none;
        aspect-ratio: 3/2;
        background-size: cover;
        position: relative;
        background-position: 50%;
        // border-radius: 0px 0px 0px 0px;
        @apply rounded-t-2xl;

        span {
          @apply border-1 border-white/50 bg-harsh-blue absolute right-0 text-white uppercase font-ddin font-black py-2 px-3 tracking-widest m-2 shadow-md rounded-xl text-sm;
        }
      }
    }
  }
}

/* SINGLE VIRUS PAGE */

.bigImage {
  z-index: -1;
  position: absolute;
  // width: 100vw;
  opacity: 0.5;
  // @apply p-10;
  // left: 0;
  // top: 0;
  // padding: 0px 50px;
}

.singleVirusPage {
  /* overflow: hidden; */
  position: relative;
  min-height: 100vh;

  /* .content {
    position: relative;
  } */

  .hideOverflow {
    overflow: hidden;
  }

  .addToCart {
    border-radius: 10px;
    border: 1px var(--light-green) solid;
    width: 100%;
    font-family: var(--font-ddin);
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 900;
    letter-spacing: 0.1rem;
    color: var(--dark-green);
    background-color: var(--light-blue);
    margin-top: 10px;
  }

  .cartQuantity {
    display: flex;
    flex-direction: row;
    width: max-content;
    justify-content: flex-start;
    align-items: flex-start;
    border: var(--light-green) solid 1px;
    font-family: var(--font-ddin);

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    input[type='number'] {
      -moz-appearance: textfield;
    }

    input {
      width: 100px;
      height: 100px;
      padding: 0;
      margin: 0;
      border-radius: 0px;
      border: none;
      text-align: center;
      background-color: var(--dark-green);
      font-family: var(--font-chivo);
      font-size: 2.2rem;
    }

    button {
      background-color: var(--light-green);
      border: none;
      height: 100px;
      width: 100px;
      padding: 0;
      margin: 0;

      font-family: var(--font-chivo);
      font-size: 3rem;
      color: var(--dark-green);
    }
  }

  .classification {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;

    div {
      font-size: 1rem;
      text-transform: uppercase;
      color: white;
      border: 1px white solid;
      /* border: */
      padding: 5px 10px;
      border-radius: 10px;
      background-color: var(--background);
      line-height: 2rem;
      letter-spacing: 0.06rem;

      span {
        color: var(--light-blue);

        margin-left: 5px;
        font-size: 1rem;
        text-transform: capitalize;
      }
    }
  }

  .virusData {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 30px;
  }

  .quantity {
    input {
      width: 100px;
      height: 100px;
      text-align: center;
    }
  }

  form {
    font-family: var(--font-chivo);

    .control {
      margin-right: 25px;
      display: flex;
      align-items: center;
    }
    .qty-button {
      height: 50px;
      width: 50px;
      background: #fff;
      color: #001422;
      font-size: 30px;
      font-weight: 300;
      border-top: 1px solid #c2c2c2;
      border-bottom: 1px solid #c2c2c2;
    }
    .qty {
      height: 50px;
      width: 50px;
      text-align: center;
      font-size: 2rem;
    }
  }

  img {
    width: 60%;
    float: none;
    margin: auto;
    padding: auto;
    text-align: center;
  }
}

.headerLogo {
  h2 {
    position: fixed;
    color: #3acda8;
    text-transform: uppercase;
    top: 30px;
    right: 68px;
    height: 300px;
    span {
      text-transform: capitalize;
    }
  }

  img {
    position: fixed;
    top: -115px;
    right: 50px;
    height: 350px;
    z-index: -1;
    opacity: 0.6;
  }
}

/* PRODUCTS PAGE */

.virusProductsList {
  margin-top: 20px;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

/* @keyframes move {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: white;
  }
} */

/* .virusItem:hover {
  animation: move 0.5s ease-in;
} */

.virusItem {
  border-radius: 30px;
  @apply p-5 text-center;
  background-color: #185d4e;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-end;
  flex-grow: 4;
  transition: background-color 100ms;
  &:hover {
    background-color: lighten(#185d4e, 8);
  }

  h2 {
    font-family: var(--font-grotesk-regular);
    font-weight: 300;
    color: white;
    font-size: 2.8rem;
  }

  h3 {
    letter-spacing: 0.06rem;
    font-weight: 300;
  }

  .itemPrice {
    font-family: var(--font-chivo);
    color: var(--light-green);
    font-size: 2rem;
    border-top: 1px solid var(--light-green);
    margin: 10px auto 0px;
    padding: 10px 0px 0px 0px;
  }
}

.threeOneGrid {
  display: grid;
  grid-template-columns: 3fr 20px 1fr;
  grid-column-gap: 10px;
}

.threeGrid {
  grid-column-start: 1;
  grid-column-end: 1;
}

.oneGrid {
  grid-column-start: 3;
  grid-column-end: 3;
  align-self: start;
}

.orderSummary {
  border-radius: 30px;
  background-color: #185d4e;
  border: 1px var(--light-green) solid;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;

  h2 {
    color: white;
    text-transform: uppercase;
    font-size: 2.4rem;
    justify-self: flex-start;
    margin-bottom: 40px;
  }

  .total {
    display: flex;
    justify-self: start;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    h3 {
      font-family: var(--font-grotesk-regular);
      text-transform: uppercase;
      color: var(--light-green);
      font-size: 1.6rem;
    }

    .amount {
      color: white;
      font-family: var(--font-chivo);
      font-size: 1.6rem;
      font-weight: 400;
    }
  }

  form {
    align-self: flex-end;
    width: 100%;

    button {
      border-radius: 10px;
      border: 1px var(--light-green) solid;
      width: 100%;
      font-family: var(--font-chivo);
      text-transform: uppercase;
      font-size: 1.4rem;
      font-weight: 700;
      letter-spacing: 0.1rem;
      color: var(--dark-green);
      background-color: var(--light-blue);
      margin-top: 10px;
    }
  }

  h3 {
    font-size: 2rem;
  }

  span {
    color: white;
  }
}

/* CART PAGE */

.cart {
  font-family: var(--font-chivo);
  border-top: solid #3acda8 1px;
  padding-top: 10px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  box-sizing: content-box;
  gap: 20px;

  .info {
    span {
      color: white;
    }
  }
}

.cartQuantity {
  display: flex;
  flex-direction: row;
  width: max-content;
  justify-content: flex-start;
  align-items: flex-start;
  border: var(--light-green) solid 1px;
  font-family: var(--font-chivo);

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type='number'] {
    -moz-appearance: textfield;
  }

  input {
    width: 50px;
    height: 50px;
    padding: 0;
    margin: 0;
    border-radius: 0px;
    border: none;
    text-align: center;
    background-color: var(--dark-green);
    color: white;
    font-weight: bold;
    font-family: var(--font-chivo);
    font-size: 1.2rem;
  }

  button {
    background-color: var(--middle-green);
    border: none;
    height: 50px;
    width: 50px;
    padding: 0;
    margin: 0;

    font-family: var(--font-chivo);
    font-size: 2rem;
    color: var(--dark-green);
  }
}

button {
  margin: 10px 0px 10px 0px;
  padding: 10px;
}

.cartItem {
  .subtotal {
    // font-family: var(--font-chivo);
    color: white;
    // font-size: 2.2rem;
    font-size: 1.5rem;
    margin-left: 40px;
    justify-self: 'start';
  }

  h3 {
    font-size: 1.2rem;
    margin-bottom: 6px;
    color: var(--light-green);
    text-transform: uppercase;
    letter-spacing: 0.08rem;
    font-family: var(--font-grotesk-regular);
  }

  .cartItemQuantity {
    margin-left: 20px;
  }

  .remove {
    border: none;
    width: 100%;
    font-family: var(--font-chivo);
    font-weight: 700;
    letter-spacing: 0.05rem;
    font-size: 0.9rem;
    background-color: var(--light-blue);
    color: var(--dark-green);
    text-transform: uppercase;
  }
}

/* CHECKOUT PAGE */

.customerInfo {
  display: flex;
  /* position: relative; */
  flex-direction: column;
  gap: 0px;
  border: 1px var(--light-green) solid;
  border-radius: 30px;
  /* background-image: var(--stripes); */

  section {
    border-bottom: 1px var(--light-green) solid;
    padding: 10px 30px 30px 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  section:first-child {
    padding-top: 20px;
  }

  section:last-child {
    border: none;
    background-color: var(--light-blue);
    padding: 0;
    margin: 0;
    gap: 0px;
    border-radius: 0px 0px 30px 30px;
  }

  h2 {
    color: var(--light-green);
    font-size: 2rem;
    text-transform: uppercase;
  }

  label {
    display: flex;
    flex-direction: column;
    width: 46%;
    letter-spacing: 0.06rem;
    margin-left: 20px;
  }

  input::placeholder {
    font-weight: bold;
    opacity: 0.6;
    /* color: var(--dark-green); */
    color: white;
  }

  input {
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    margin-top: 5px;
    background-color: var(--middle-green);
    color: white;
    letter-spacing: 0.06rem;
    border: 1px var(--light-green) solid;
  }

  select {
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    margin-top: 5px;
    background-color: var(--middle-green);
    color: white;
    letter-spacing: 0.06rem;
    border: 1px var(--light-green) solid;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .fitTwo {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .confirmButton {
    /* width: 100%; */
    /* border-radius: 100px; */
    background-color: transparent;
    border: none;
    /* position: absolute; */
    /* height: 50px; */
    /* bottom: 0; */
    /* margin: 0; */
    padding: 5px;
    font-weight: bold;
    color: var(--dark-green);
    letter-spacing: 0.06rem;
    border-radius: 0px 0px 30px 30px;
    font-size: 2rem;
    font-family: var(--font-chivo);
    font-weight: 600;
    text-transform: uppercase;
  }
}

.checkoutCart {
  border-radius: 30px;
  border: 1px var(--light-green) solid;

  .checkoutCartList {
    padding: 20px;
    display: grid;
    gap: 20px;
  }

  .checkoutCartItem {
    display: grid;
    grid-template-columns: repeat(3, minmax(50px, 1fr));
    grid-template-rows: auto;
    gap: 0px;
    align-items: center;

    .info {
      /* justify-self: end; */
      margin-left: 10px;

      h2 {
        font-size: 1.2rem;
      }
    }
    .subtotal {
      justify-self: end;
    }

    img {
      width: 90px;
      /* margin-right: 70px; */
    }
  }

  .number {
    border-bottom: 1px var(--light-green) solid;
    padding: 30px;
  }

  .total {
    border-top: 1px var(--light-green) solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 20px 0px 20px;
    background-color: #185d4e;
    border-radius: 0px 0px 30px 30px;
    text-transform: uppercase;
    /* letter-spacing: 0.03rem; */
    letter-spacing: var(--letter-space);
  }
}

/* FOOTER */

.footer {
  background-color: rgba(0, 0, 0, 0.3);
  border-top: 1px solid var(--light-green);
  @apply grid grid-cols-4 px-30 pt-10 pb-20;

  h3 {
    @apply font-grotesk uppercase mb-2 text-2xl font-black tracking-wider;
  }

  ul {
    color: var(--light-green);
    list-style: none;
  }

  li {
    margin-bottom: 10px;
    /* background-color: var(--dark-green); */
  }
}

.newsletter {
  label {
    display: flex;
    flex-direction: row;
    gap: 10px;
    letter-spacing: 0.06rem;
  }

  input::placeholder {
    font-weight: bold;
    opacity: 0.6;
    color: white;
  }

  input {
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    /* margin-top: 5px; */
    background-color: var(--middle-green);
    color: white;
    letter-spacing: 0.06rem;
    border: 1px var(--light-green) solid;
    height: 40px;
    width: 220px;
  }

  button {
    border-radius: 10px;
    border: 1px var(--light-green) solid;
    /* width: 100%; */
    font-family: var(--font-chivo);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    color: var(--dark-green);
    background-color: var(--light-blue);
    /* margin-top: 10px; */
    height: 40px;
    margin: 0;
    padding: 10px 15px;
  }
}

/* MEDIA QUERIES */

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

// @media (min-width: 700px) {
//   .container {
//     grid-template-columns: 1fr 8fr 1fr;
//     grid-template-rows: auto;
//     grid-template-areas:
//       'header header header'
//       'content content content'
//       '. main .'
//       'footer footer footer';
//   }

//   .subGrid {
//     grid-template-columns: 1fr 14fr 1fr;
//     grid-template-rows: auto;
//     grid-template-areas: '. inside .';
//   }
//   .subGridSingleVirus {
//     grid-template-columns: 1fr 14fr 1fr;
//     grid-template-rows: auto;
//     grid-template-areas: '. inside .';
//   }

//   /* .main {
//     grid-template-columns: 1fr 6fr 1fr;
//     grid-template-rows: auto;
//     grid-template-areas:
//       'header header header'
//       'content content content'
//       '. main .'
//       'footer footer footer';
//   } */

//   /* .main {
//     grid-column-start: 2;
//     grid-column-end: 3;
//   } */
// }

.empty {
  font-family: var(--font-chivo);
  font-weight: 300;
  font-size: 2rem;
}
