/* BASE, EVERYTHING */

@import 'tailwindcss';

@theme {
  --font-grotesk: var(--font-grotesk);
  --font-ddin: var(--font-ddin);
  --primary: #3acda8;
  --color-background: #0e372e;
  --color-light-green: #3acda8;
  --color-light-blue: #3bb6ff;
  --color-dark-green: #0e372e;
  --color-foreground: #3bb6ff;
  --color-middle-green: #185d4e;
  --color-harsh-blue: #0000ff;
}

:root {
  --background: #0e372e;
  --foreground: #3bb6ff;
  --primary: #3acda8;
  --dark-green: #0e372e;
  --middle-green: #185d4e;
  --light-blue: #3bb6ff;
  --light-green: #3acda8;
  --shadow: 1px 1px 2px black;
  --shadow-big: 2px 2px 4px black;
  --stripes: repeating-linear-gradient(
    135deg,
    #3acda880,
    #3acda880 1px,
    transparent 1px,
    transparent 13px
  );
  --letter-space: 0.06rem;
  --hover: background-color 0.3s ease-in-out;
}

.pageSpace {
  @apply w-full px-5 py-5 py-2 sm:p-10 lg:p-20;
}

.pageTitle {
  @apply font-grotesk text-6xl lg:text-7xl xl:text-9xl uppercase font-black mb-5 sm:mb-10;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  @apply bg-background text-white font-ddin tracking-wider antialiased flex flex-col min-h-screen;
}

p {
  @apply text-lg/8 lg:text-xl/8 font-ddin mb-5;
}

.special {
  @apply text-3xl sm:text-xl lg:text-4xl font-ddin font-thin text-white text-shadow-md text-shadow-dark-green ml-5 sm:ml-5 lg:ml-10 tracking-wider;
}

.subGrid {
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
  display: grid;
  grid-template-areas: 'inside';
  margin-bottom: 70px;
}

.subGridSingleVirus {
  @apply overflow-hidden relative;
}

/* HEADER */

header {
  @apply bg-light-green sm:bg-transparent w-full z-100 fixed sm:static;

  .burgerMenu {
    @apply sm:hidden;

    h2 {
      @apply font-grotesk text-5xl/12 lowercase font-black text-background text-center;
    }

    h3 {
      @apply font-grotesk text-xl/5 uppercase font-thin text-background text-center;
    }

    .bm-menu {
      @apply bg-background pt-3 pl-3;
    }

    .bm-item {
      display: block;
      margin-bottom: 10px;
      text-decoration: none;
      @apply text-light-green font-grotesk text-2xl;
    }

    .bm-item:hover {
      color: white;
    }

    .bm-burger-button {
      @apply fixed left-5 top-7 h-5 w-5 sm:invisible;
    }

    .bm-burger-bars {
      @apply bg-background;
    }

    .bm-cross-button {
      height: 24px;
      width: 24px;
    }

    .bm-cross {
      @apply bg-light-green;
    }

    .bm-menu-wrap {
      @apply top-0;
    }

    .bm-item-list {
      color: #b8b7ad;
    }
  }
}

/* LANDING PAGE */

.featured {
  background-color: rgba(0, 0, 0, 0.2);
  background-image: repeating-linear-gradient(
    135deg,
    rgba(58, 205, 168, 0.2),
    rgba(58, 205, 168, 0.2) 1px,
    transparent 1px,
    transparent 13px
  );
}

.newArrivals {
  h3 {
    font-family: var(--font-grotesk-regular);
    font-weight: 300;
    color: white;
    font-size: 1.8rem;
  }

  h2 {
    font-size: 2.5vw;
    text-transform: uppercase;
    font-family: var(--font-chivo);
    letter-spacing: 0.2rem;
  }
}

.newViruses {
  margin-top: 20px;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}

/* NEWS BLOCK */

.news {
  @apply px-8 md:px-20 pt-5 pb-10 md:pb-15;

  h2 {
    color: var(--light-green);
    font-size: 2.5vw;
    text-transform: uppercase;
    font-family: var(--font-chivo);
    letter-spacing: 0.2rem;
    background-color: var(--dark-green);
  }

  .newsItems {
    @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-5 md:gap-10 w-full;

    .item {
      @apply shadow-lg outline outline-white/20 rounded-2xl w-full;
    }

    div {
      .itemContent {
        @apply bg-middle-green/50 px-6 py-4 rounded-b-2xl border-t-1 border-white/30;

        h3 {
          @apply text-xl font-ddin font-thin tracking-wider sm:text-xl lg:text-2xl;
        }

        h4 {
          margin-top: 10px;
          letter-spacing: 0.06rem;
          font-weight: 300;
        }
      }

      .itemImage {
        background-repeat: none;
        aspect-ratio: 3/2;
        background-size: cover;
        position: relative;
        background-position: 50%;

        @apply rounded-t-2xl;

        span {
          @apply border-1 border-white/50 bg-harsh-blue absolute right-0 text-white uppercase font-ddin font-black py-2 px-3 tracking-widest m-2 shadow-md rounded-xl text-sm;
        }
      }
    }
  }
}

/* SINGLE VIRUS PAGE */

.addToCartButton {
  border-radius: 10px;
  border: 1px var(--light-green) solid;
  @apply mt-2 bg-light-blue w-auto w-full tracking-wider text-dark-green font-black font-ddin text-xl uppercase py-1;
}

.quantityController {
  @apply grid grid-cols-3 font-ddin w-full border-y-2 border-light-green/70;
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type='number'] {
    -moz-appearance: textfield;
  }

  .quantityNumber {
    @apply bg-dark-green text-center aspect-square text-lg/0 sm:text-xl font-normal;
  }

  .quantityButton {
    @apply text-dark-green bg-light-green/70 text-3xl/0 aspect-square font-normal;
  }
}

.singleVirusPage {
  position: relative;
  min-height: 100vh;

  .hideOverflow {
    overflow: hidden;
  }

  .classification {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;

    div {
      font-size: 1rem;
      text-transform: uppercase;
      color: white;
      border: 1px white solid;
      padding: 5px 10px;
      border-radius: 10px;
      background-color: var(--background);
      line-height: 2rem;
      letter-spacing: 0.06rem;

      span {
        color: var(--light-blue);

        margin-left: 5px;
        font-size: 1rem;
        text-transform: capitalize;
      }
    }
  }

  .virusData {
    @apply flex flex-row gap-5 mt-5;
  }

  .quantity {
    input {
      width: 100px;
      height: 100px;
      text-align: center;
    }
  }
}

/* PRODUCTS PAGE */

.virusItem {
  @apply p-3 sm:p-5 text-center rounded-xl bg-middle-green flex flex-col;
  flex-wrap: nowrap;
  justify-content: flex-end;
  flex-grow: 4;
  transition: background-color 100ms;
  &:hover {
    background-color: lighten(#185d4e, 8);
  }
}

/* CART PAGE */

.cart {
  @apply flex flex-col;
}

.cartItem {
  @apply grid grid-cols-3 sm:grid-cols-4 items-center justify-start sm:gap-5 md:gap-10 border-b-1 last:border-b-0 border-light-green/30 py-3 items-center;

  h2 {
    @apply uppercase font-grotesk uppercase text-white text-3xl lg:text-4xl text-left tracking-wider;
  }

  h3 {
    @apply font-ddin uppercase text-light-green text-lg sm:text-2xl sm:mb-1 font-bold tracking-wider;
  }
}

/* CHECKOUT PAGE */

.customerInfo {
  @apply flex flex-col gap-5 last:gap-0 border-light-green/30 border-r-0;

  section {
    @apply flex flex-col gap-10 border-light-green/30 border-b-2 sm:px-5 py-10 last:border-0;
  }

  section:first-child {
    padding-top: 20px;
  }

  section:last-child {
    @apply p-0 m-0 gap-0;
  }

  h2 {
    @apply text-light-green text-2xl uppercase font-bold;
  }

  label {
    @apply flex flex-col sm:w-1/2 tracking-wider px-4;
  }

  input::placeholder {
    @apply font-normal opacity-70 text-white;
  }

  input {
    padding: 10px;
    border-radius: 10px;
    margin-top: 5px;
    background-color: var(--middle-green);
    color: white;
    letter-spacing: 0.06rem;
    border: 1px var(--light-green) solid;
  }

  select {
    padding: 10px;
    border-radius: 10px;
    margin-top: 5px;
    background-color: var(--middle-green);
    color: white;
    letter-spacing: 0.06rem;
    border: 1px var(--light-green) solid;
    height: 50px;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .fitTwo {
    @apply gap-5 flex flex-col sm:flex-row;
  }
}

.checkoutCart {
  @apply rounded-lg border-light-green/30 border-0;

  .checkoutCartList {
    @apply flex flex-col gap-5 py-5;
  }

  .checkoutCartItem {
    .info {
      margin-left: 10px;

      h2 {
        font-size: 1.2rem;
      }
    }
    .subtotal {
      justify-self: end;
    }
  }

  .number {
    border-bottom: 1px var(--light-green) solid;
    padding: 30px;
  }
}

/* FOOTER */

.footer {
  h3 {
    @apply font-grotesk uppercase mb-2 text-xl md:text-2xl font-black tracking-wider;
  }

  ul {
    color: var(--light-green);
    list-style: none;
  }

  li {
    @apply mb-2;
  }
}

.newsletter {
  input::placeholder {
    font-weight: bold;
    opacity: 0.6;
    color: white;
  }

  input {
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    background-color: var(--middle-green);
    color: white;
    letter-spacing: 0.06rem;
    border: 1px var(--light-green) solid;
    @apply h-10;
  }
}

.empty {
  font-weight: 300;
  font-size: 2rem;
}
